* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}
.container {
    width: 280px;
    margin: auto;
    display: grid;

    grid-gap: 5px;
    grid-template-columns: 50px 50px 50px auto;
    background-color: #303538;
    padding: 10px;
    border-radius: 5px;
}

.container .number,
.container .operator,
.container .equal,
.container .output {
    cursor: pointer;
    background-color: rgb(153, 153, 153);
    color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}
.container .equal,
.container .output {
    color: black;
    grid-column-start: 1;
    grid-column-end: 5;
}
.container .output {
    background-color: rgb(181, 207, 177);
    text-align: right;
    padding-right: 5px;
}

.container .equal {
    background-color: rgb(211, 93, 93);
}
.container .operator {
    background-color: rgb(113, 112, 114);
}

.container .number:hover {
    background-color: rgb(97, 96, 96);
}
.container .operator:hover {
    background-color: rgb(156, 155, 156);
}
.container .equal:hover {
    background-color: rgb(218, 56, 56);
}